@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}

a{
    color: #333;
    transition: .3s;
}

.pt-100{
    padding-top: 100px;
}
.pt-90{
    padding-top: 90px;
}
.pt-80{
    padding-top: 80px;
}
.pt-70{
    padding-top:70px;
}

.pb-100{
    padding-bottom: 100px;
}
.pb-90{
    padding-bottom: 90px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-70{
    padding-bottom: 70px;
}


/* Button CSS Start */
.btn-box {
    color: #fff;
    background-color: #ff3636;
    padding: 8px 35px;
    border-radius: 0;
    display: inline-block;
    position: relative;
    font-size: 19px;
    text-transform: capitalize;
  }
  .btn-box:hover{
    background-color: #333;
    color: #fff;
  }
  .btn-box i {
    top: 14px;
    position: absolute;
    left: 0;
    transition: .3s;
    opacity: 0;
  }
  .btn-box:hover i {
    left: 5px;
    opacity: 1;
  }
/* Button CSS End */

/* Section Title CSS Start */
.section-title {
    text-align: center;
    margin-bottom: 70px;
  }
  .section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    color: #333358;
    position: relative;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }
  .section-title h2:before {
    position: absolute;
    content: "";
    background-color: #ff3636;
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .section-title h2:after {
    position: absolute;
    content: "";
    background-color: #ff3636;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
  }
/* Section Title CSS End */

/* Header CSS Start */
.header-area {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    padding: 20px 0;
  }
  .sticky {
    background-color: #333333c9;
    transition: 1s ease;
  }
  .header-area .navbar-brand {
    font-size: 28px !important;
    border: 1px solid #fff;
    padding: 12px 19px;
  }
  .header-area a {
    color: #fff !important;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .navbar-nav a:hover {
	color: #ff3636 !important;
}


/* Header CSS End */

/* banner CSS Start */
.banner-area {
    position: relative;
    height: 100vh;
    z-index: 2;
  }
  .banner-area:before {
    position: absolute;
    content: "";
    background-color: #333;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    z-index: -1;
  }
  .banner-content {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .banner-content h2 {
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .banner-area video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
  }

.banner-content p {
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 10px;
  }

  .banner-content a {
	margin-top: 18px;
}

  /* Banner CSS End */



/* About Section CSS Start */
.about-area {
	padding: 100px 0;
}


.about-content h2 {
    font-size: 43px;
    font-weight: 700;
    color: #ff3636;
    text-transform: capitalize;
  }
  .about-content h4 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 400;
  }
  .about-content p {
    margin-top: 21px;
    font-size: 17px;
  }

  .list-area li {
	font-size: 16px;
	text-transform: capitalize;
	color: #333;
	padding: 4px 0;
}
  .list-area li i {
    color: #ff3636;
    font-size: 14px;
    font-weight: 900 !important;
  }
  .about-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .about-content .btn-box {
    margin-top: 25px;
  }


/* About Section CSS End */

/* Service Section CSS Start */

.service-area {
    background-color: #F6F6F6;
  }
  
.single-service {
    background-color: #fff;
    padding: 42px 35px;
    margin-bottom: 22px;
    text-align: center;
    position: relative;
    border: 1px solid #F6F6F6;
  }
  .single-service:hover i{
    border-radius: 50%;
    transition: .3s;
  }
  .single-service i {
    font-size: 27px;
    background-color: #ff3636;
    width: 61px;
    height: 61px;
    line-height: 61px;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    transition: .3s;
  }
  .single-service h2 {
    text-transform: capitalize;
    margin: 12px 0;
    font-weight: 600;
  }
  .single-service p {
    font-size: 16px;
  }
  
.single-service span {
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    left: 14px;
    top: 24px;
    color: #f2f2f2;
  }
/* Service Section CSS End */

/* Project Section CSS Start */


.single-project {
    position: relative;
    overflow: hidden;
  }
  .project-hover {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    transform: scale(0) rotate(0);
    opacity: 0;
    transition: .3s;
    visibility: hidden;
  }
  .project-hover:before {
    position: absolute;
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: .75;
    z-index: -1;
    transition: .3s;
  }
  .porject-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
  .porject-content a i {
    color: #fff;
    font-size: 29px;
  }
  .porject-content h4 {
    text-transform: capitalize;
    font-size: 30px;
    margin-top: 12px;
  }
  .porject-content h4 span {
    display: block;
    font-size: 22px;
    text-transform: lowercase;
    margin-top: 10px;
  }


  
.single-project:hover .project-hover {
    transform: scale(1) rotate(360deg);
    opacity: 1;
    visibility: visible;
    transition: .3s;
  }

/* Project Section CSS End */

/* Counter Area CSS Start */
.counter-area{
    background-color: #333333;
}
.counter-area .section-title h2{
color: #fff;
}
.counter-area .section-title p{
color: #fff;
}


.single-counter {
    color: #fff;
    text-align: center;
  }
  .single-counter i {
    font-size: 24px;
    background-color: #ff3636;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 14px;
  }
  .single-counter h4 {
    font-size: 40px;
    font-weight: 700;
  }
  .single-counter p {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
  }

/* Counter Area CSS End */

/* Timeline CSS Start */

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.timeline:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #ff3636;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.timeline li {
  display: table;
  clear: both;
  position: relative;
}

.timeline-box {
  border: 2px solid #ff3636;
  padding: 20px;
  width: 45%;
  text-align: right;
}
.timeline li:nth-child(even) .timeline-box {
  float: right;
  text-align: left;
}
.timeline li:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ff3636;
  left: 51%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.timeline-box span {
  font-size: 20px;
  color: #ff3636;
}
.timeline-box h4 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
}
/* Timeline CSS End */

/* Testimonial CSS Star */
.testimonilas-area{
  background-color: #333333;
}
.testimonilas-area .section-title h2{
  color: #fff;
}
.testimonilas-area .section-title p{
  color: #fff;
}
.single-testimonial {
	color: #fff;
	text-align: center;
}
.single-testimonial img {
	border: 1px dashed #ddd;
	border-radius: 50%;
	padding: 3px;
	margin: 0 auto;
}
.testimonial h2 {
	font-size: 25px;
	text-transform: capitalize;
  margin-bottom: 31px;
}
.single-testimonial p {
	margin-top: 20px;
}
.single-testimonial h2 span {
	display: block;
	font-size: 14px;
	margin-top: 12px;
	font-style: italic;
}

/* Testimonial Dots CSS Start */

.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
  border: ;
}
.slick-dots li button {
  border: 0;
  background-color: #ff3636;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  text-indent: -9999px;
}
.testimonilas-area .slick-dots li.slick-active button {
	background-color: #fff !important;
}
/* Testimonial Dots CSS End */

/* Testimonial CSS End */



/* Pricing Section CSS Start */

.pricing-area {
  background-color: #F6F6F6;
}
.single-pricing {
  background-color: #fff;
  padding: 40px 20px;
  text-align: center;
}
.single-pricing ul {
  /*! margin: 0; */
  padding: 0;
  list-style: none;
}
.single-pricing h5 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.single-pricing h2 {
  font-size: 49px;
  font-weight: 800;
  margin: 18px 0;
}
.single-pricing ul li {
  border-bottom: 1px dashed #ddd;
  padding: 12px 0;
}
.single-pricing ul li:last-child {
  border-bottom: 0;
}
/* Pricing Section CSS End */


/* Team Section CSS Start */

.single-team img {
  width: 100%;
}
.single-team {
  position: relative;
  overflow: hidden;
}
.team-content {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 17px 0;
  position: absolute;
  bottom: -112px;
  width: 100%;
  transition: 1s ease;
  opacity: 0;
  visibility: hidden;
}
.team-content h5 {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
}
.team-content p {
  text-transform: capitalize;
  font-size: 16px;
}
.team-social {
	background-color: #333;
	position: absolute;
	width: 100%;
	color: #fff;
	font-size: 20px;
	top: -70px;
	padding: 23px 0;
  text-align: center;
  transition: 1s ease;
  opacity: 0;
  visibility: hidden;
}
.team-social ul {
  margin-bottom: 0;
}
.team-social ul a{
  color: #fff;
}

.team-social ul a i {
  font-size: 15px;
}
.team-social ul a i:hover {
  color: #ff3636;
  transition: .3s;
}
.team-social ul a {
  margin-right: 17px;
}
.single-team:hover .team-social {
	top: 0;
	transition: 1s ease;
}
.single-team:hover .team-social {
  top: 0;
  transition: 1s ease;
  opacity: 1;
  visibility: visible;
}
.single-team:hover .team-content {
  bottom: 0;
  transition: 1s ease;
  opacity: 1;
  visibility: visible;
}



/* Team Section CSS End */

/* Blog Section CSS Start */

.single-blog {
  background-color: #fff;
}
.blog-area {
  background-color: #F6F6F6;
}
.blog-content {
  padding: 22px;
}
.blog-content h2 {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
}
.metabox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px 0;
}
.single-item a {
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 10px;
}
.single-item i {
  color: #ff3636;
  font-size: 18px;
}
.single-item span {
	margin-left: 10px;
}

.blog-image img {
  transition: 1s ease;
}
.single-blog:hover .blog-image img {
  transform: scale(1.1) rotate(5deg);
  transition: 1s ease;
}
.blog-image {
	overflow: hidden;
}
/* Blog Section CSS End */

/* CTA Section CSS Start */

.cta-area {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index:2;
}
.cta-area::before {
	position: absolute;
	content: "";
	background-color: #333;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.85;
	z-index: -1;
}
.cta-content {
  text-align: center;
  color: #fff;
}
.cta-content h2 {
  font-size: 40px;
  font-weight: 800;
}
.cta-content p {
  max-width: 700px;
  margin: 0 auto;
}
.cta-content .btn-box {
	margin-top: 30px;
}
/* CTA Section CSS End */

/* Contact Section CSS Start */
.contact-form input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ff3636;
}
.contact-form textarea{
  height:94px;
}
.contact-form input:focus {
	outline: none;
}
.contact-form textarea:focus {
	outline: none;
}

/* Contact Address Section start */

.contact-address ul {
  list-style: none;
}
.contact-icon {
  font-size: 17px;
  color: #ff3636;
  position: relative;
  z-index: 99;
  margin-right: 45px;
}
.contact-address ul li h2 {
  font-size: 23px;
  font-weight: 700;
}
.contact-address ul li h2 span {
  display: block;
  font-size: 16px;
  font-weight: 500;
}
.contact-address ul li {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 19px;
}
.contact-icon:before {
  position: absolute;
  content: "";
  background-color: #ff3636;
  width: 40px;
  height: 40px;
  z-index: -1;
  top: -8px;
  left: -12px;
  text-align: center;
  transform: rotate(46deg);
}
.contact-icon i {
  z-index: 5;
  color: #fff;
}
.contact-address ul li:last-child {
  border-bottom: 0;
}

.contact-form input[type="submit"] {
  background-color: #ff3636;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  transition: .3s;
  border: 0;
}
.contact-form input[type="submit"]:hover {
  background-color: #333;
  border: 0;
  transition: .3s;
}
/* Contact Address Section end */

/* Contact Section CSS End */


/* Footer Section Start */
.footer-area {
	background-color: #333;
  color: #fff;
  text-align: center;
}


.footer-area h2 {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 700;
}
.footer-area a i {
  color: #fff;
  font-size: 19px;
  transition: .3s;
}
.footer-area a {
  margin-right: 48px;
}
.footer-area a i:hover {
  color: #ff3636;
  transition: .3s;
}
.footer-area p {
  padding-top: 30px;
  border-top: 1px solid #fff;
  margin-top: 32px;
  text-transform: capitalize;
}
/* Footer Section End */







































